body{
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    background-color: gray;
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto auto 1fr auto;

}
header, footer{
    background-color: black;
    color: azure;
}
header, nav, footer{
    text-align: center;
    padding: 16px;
}
nav a{
    color: aliceblue !important;
}

main{
    display: flex;
    justify-content: space-around;
    gap: 10px;
    margin: 2%;
}

article{
    flex: 1;
    border: 2px solid ;
    border-radius: 20px;
    height: 600px;
    background-color: white;
    padding: 10px;
}   