body{
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    background-color: gray;
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto auto 1fr auto;

}
header, footer{
    background-color: black;
    color: azure;
}
header, nav, footer{
    text-align: center;
    padding: 16px;
}
nav a{
    color: aliceblue !important;
}

main{
    display: flex;
    justify-content: space-around;
    gap: 10px;
    margin: 2%;
}

article{
    flex: 4;
    border: 2px solid ;
    border-radius: 20px;
    height: 600px;
    background-color: white;
    padding: 10px;
}   
aside{
    flex: 1;
    background-color: white;
    padding: 16px;
    border: 2px solid black;
    border-radius: 20px;
}
nav ul{
    background-color: rgb(150, 147, 147);
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
   
}
nav ul li a{
    text-decoration: none;
   
}
